{% extends 'basic.html' %} {% block body %}
<div class="container">
  <h1>Contact Please</h1>
  <form method="POST">
    {% csrf_token %}
    {% comment %} <div class="mb-3">
      <label for="exampleFormControlInput1" class="form-label">Name</label>
      <input
        type="text"
        class="form-control"
        id="exampleFormControlInput1"
        placeholder="Your Name"
        name="name"
      />
    </div>
    <div class="mb-3">
      <label for="exampleFormControlInput1" class="form-label">Phone</label>
      <input
        type="text"
        class="form-control"
        id="exampleFormControlInput1"
        placeholder="Your Phone"
        name="phone"
      />
    </div>
    <div class="mb-3">
      <label for="exampleFormControlTextarea1" class="form-label"
        >Details</label
      >
      <textarea
        class="form-control"
        id="exampleFormControlTextarea1"
        rows="3"
        name="content"
      ></textarea>
    </div> {% endcomment %}
    {{ form }}
    <button type="Submit">Submit</button>
  </form>
</div>
{% endblock body %}
